@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #009f6b;
    font-family: "Raleway", sans-serif;
    color: #445361;
}

.info-container {
    height: 100vh;
    width: 30%;
    background-color: #009966;
}

.logo {
    width: 120px;
    height: 70px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.about-container {
    color: #FAF9F6;
    width: 90%;
    height: 250px;
    margin: 50px auto;
    text-align: center;
}

@media (max-width: 320px) {
    .info-container {
        height: 320px;
        width: 100%;
        background-color: #009966;
    }
}

@media (max-width: 992px) {
    .info-container {
        height: 400px;
        width: 100%;
        background-color: #009966;
    }
}